.mdl-layout__header.is-casting-shadow {
    background-color: white !important;
}

#logo {
    width: 160px;
}

.text-container {
    color: white;
    background: #F44336;
}

#graph-container {
    height: 400px;
}

#loading-container {
    display: none;
    margin-top: 15px;
}

button {
    margin-bottom: 10px !important;
}